# Title -- My Final

# This is my introduction to my final.

# Objectives: 
## - List popular languages that data scientists use.
## - List commonly used libraries used by Data Scientists.
## - Comment on Data Science tools.

# This is a list of data science languages.
- Python
- R
- SQL
- Julia 
- Scala
- Swift
- Java
- JavaScript

#  This is a list of data science libraries.

1. Tensor Flow
2. NumPy.
3. Scipy.
4. Matplotlib
5. PyTorch
6. Caffe2.
7. Scrapy.
8. Pandas.
9. BeautifulSoup.
10. Pipenv.

| Data Science Tool Name | Seq |
| --- | --- | 
| Apache Spark | 1 |
| SAS | 2 | 
| Tableau | 3 | 
| MATLAB | 4 |

# Seen below are some basic arithmetic operations.

In [1]:
# Arithmetic operations
math = compile("35 + 34", "<string>", "eval")
eval(math)

69

In [2]:
# Multiplication operation

multiply = (1*2*3*4*5*6*7*8*9)
multiply

362880

In [3]:
# Code cell to convert minutes to hours.

hours = 0
minutes = 0

# We'll convert 666 minutes to hours.

timeToConvert = 666
print("Time to Convert: " + str(timeToConvert))
unconvertedTime = timeToConvert % 60
print("Unconverted Time: " + str(unconvertedTime))
convertedTime = timeToConvert // 60
print("Converted Time: " + str(convertedTime))
PrintedTime = print(str(timeToConvert) + " is equal to " + str(convertedTime) + " hours and " + str(unconvertedTime) + " minutes!")

Time to Convert: 666
Unconverted Time: 6
Converted Time: 11
666 is equal to 11 hours and 6 minutes!

# Author:
## Ryan Wm. Greene